<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en">

<head>
    <title>Disease Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Ordering Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- font files -->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <!-- /font files -->
    <!-- css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/logo.png">
    <style>
        body {
            background-image:url(../static/img/Document.png);
        }
    </style>
    <!-- /css files -->
</head>

<body>
    <div id="w3lDemoBar" class="w3l-demo-bar">
        <a href="https://medicalfuture.000webhostapp.com/after/elementsafter.php?fbclid=IwAR2dup_LPfliIOHikSmV9SP9uSnKUjAV_8VteDRQq73TbrjQzuG3tUX4dT8" ga-on="click" ga-event-category="Valid Login Form Template" ga-event-action="view" ga-event-label="Valid Login Form - view">
            <span class="w3l-icon -back">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 10 24 24"><path opacity=".87" fill="none" d="M0 0h24v24H0V0z"/><path d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z"/></svg>
    </span>
            <span class="w3l-text">Back</span>
        </a>
    </div>
    <p><br><br></p>
    <div class="content-w3ls">
        <form action="{{ url_for('predict')}}"method="post" id="idOfForm">
        <div class="form-wthree1 wthree w3-agileits agileits-w3layouts agile w3-agile">

            <div class="form-control">
                <label class="header">Pregnancies<span>:</span></label>
                <input type="number" name="age" id="age" placeholder="Enter Pregnancies" title="Enter Pregnancies" required="required" min="0" max="1000" step="any" />
            </div>
  

            <div class="form-control">
                <label class="header">Glucose<span>:</span></label>
                <input type="number" name="cigsPerDay" id="cig" placeholder="Enter Glucose" title="Enter Glucose" required="required" min="0" max="1000"
                    step="any" />

            </div>



            <div class="form-control">
                <label class="header">Blood Pressure<span>:</span></label>
                <input type="number" id="address2" name="BPMeds" placeholder="Enter Blood Pressure"  title="Do You Take Blood Pressure Medicine Recently ?" required="required"
                    step="any">
            </div>
            
            
            <div class="form-control">
                <label class="header">Skin Thickness<span>:</span></label>
                <input type="number" id="chol" name="totChol" placeholder="Enter Skin Thickness" required="required"  min="0" max="1000" step="any">
            </div>


        </div>

        <div class="form-wthree2 wthree w3-agileits agileits-w3layouts agile w3-agile">

            <div class="form-control">
                <label class="header">Insulin<span>:</span></label>
                <input type="number" id="pre"  name="sysBP" placeholder="Enter Insulin" title="How much systolic blood pressure ?" required="required" min="0" max="1000" step="any">
            </div>

            <div class="form-control">
                <label class="header">BMI<span>:</span></label>
                <input type="number" id="dbl"  name="diaBP" placeholder="Enter BMI" title="How Much Diastolic Blood Pressure ?" required="required" min="0" max="1000" step="any">
            </div>

            <div class="form-control">
                <label class="header">DiabetesPedegree<br>Function<span>:</span></label>
                <input type="number" name="BMI" id="bmi" placeholder="Enter Diabetes Pedegree Function" title="Enter Diabetes Pedegree Function" required="requird"  min="0" max="1000" step="any">
            </div>

            <div class="form-control">
                <label class="header">Age<span>:</span></label>
                <input type="number" name="heartRate" id="hrt" placeholder="Enter Your Age" title="Enter Your Age" required="requird"  min="0" max="1000" step="any">
            </div>

        </div>
        <div class="clear"></div>
        <div class="form-control">
            <label class="enquiry">Result<span>:</span></label>
            <output id="message" style="color:black;font-size:18px;">{{ prediction_text }}<br>{{predictions_prob}} &nbsp; <span style="color:red;">{{p}}{{per}}</span></output>
            <div class="clear"></div>
        </div>
        <div class="form-control last">
            <a><input readonly="readonly" type="text" value="send" style="text-align: center" class="reset" ></a>
            <button type="submit" class="register" id="message" onclick="send()">Predict</button>
            
            <div class="clear"></div>
        </div>
        <!--{{ prediction_text }}<br>{{predictions_prob}}-->

        </form>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAYBJkrUGNXyGYO0UL1EVqdTd3TBX75sx0",
            authDomain: "diseasepridection.firebaseapp.com",
            databaseURL: "https://diseasepridection.firebaseio.com",
            projectId: "diseasepridection",
            storageBucket: "diseasepridection.appspot.com",
            messagingSenderId: "950090652362",
            appId: "1:950090652362:web:f8d22a96acdbe5ae7c3233",
            measurementId: "G-CQN0QQX0NT"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.firestore();
    </script>
    <script>
    var db = firebase.firestore();

function send() {
    const Pregnanciestxt = document.querySelector("#age").value;
    const Glucosetxt = document.querySelector("#cig").value;
    const BloodPressuretxt = document.querySelector("#address2").value;
    const SkinThicknesstxt = document.querySelector("#chol").value;
    const Insulintxt = document.querySelector("#pre").value;
    const BMItxt = document.querySelector("#dbl").value;
    const DiabetesPedegreeFunctiontxt = document.querySelector("#bmi").value;
    const agetxt = document.querySelector("#hrt").value;

    db.collection("diabetes").doc().set({
            Pregnancies: Pregnanciestxt,
            Glucose: Glucosetxt,
            BloodPressure: BloodPressuretxt,
            SkinThickness: SkinThicknesstxt,
            Insulin: Insulintxt,
            BMI: BMItxt,
            DiabetesPedegreeFunction: DiabetesPedegreeFunctiontxt,
            Age: agetxt,

        })
        .then(function() {
            alert("Data added");
        })
        .catch(function(error) {
            alert("Error written document", error);

        });

}
    </script>
</body>

</html>
